{
  "presets": ["react-native", "flow"],
  "plugins": [[
    "module-alias", [
    { "src": "./app/", "expose": "app" },
    { "src": "./app/screens/", "expose": "screens" },
    { "src": "./app/components/", "expose": "components" },
    ]
  ]]
}
